<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>/emp/info.html</title>
</head>
<body>
	<div class="container">
		<table>
			<thead>
				<tr>
					<th>EMP NO</th>
					<th>EMP NAME</th>
					<th>DEPT NO</th>
					<th>DEPT NAME</th>
					<th>DEPT LOC</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tmp:${list}">
					<td th:text="${tmp.empno}"></td>
					<td>[[${tmp.ename}]]</a></td>
					<td th:text="${tmp.deptno}"></td>
					<td>[[${tmp.dname}]]</a></td>
					<td th:text="${tmp.loc}"></td>
				</tr>
			</tbody>
		</table>
		
		<a th:href="@{/emp/list2}">직원 목록으로 가기</a>
		<a th:href="@{/}">홈으로 가기</a>
	</div>
</body>
</html>