<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>/emp/info.html</title>
</head>
<body>
	<div class="container">
		<table>
			<tr>
				<th>사원 번호</th>
				<td th:text="${dto.empno}"></td>
			</tr>
			<tr>
				<th>이름</th>
				<td th:text="${dto.ename}"></td>
			</tr>
			<tr>
				<th>직책</th>
				<td th:text="${dto.job}"></td>
			</tr>
			<tr>
				<th>담당 매니져</th>
				<td th:text="${dto.mgr}"></td>
			</tr>
			<tr>
				<th>고용일</th>
				<td th:text="${dto.hiredate}"></td>
			</tr>
			<tr>
				<th>급여</th>
				<td th:text="${dto.sal}"></td>
			</tr>
			<tr>
				<th>커미션</th>
				<td th:text="${dto.comm}"></td>
			</tr>
			<tr>
				<th>부서 번호</th>
				<td th:text="${dto.deptno}"></td>
			</tr>
			<tr>
				<th>부서 이름</th>
				<td th:text="${dto.dname}"></td>
			</tr>
			<tr>
				<th>부서 위치</th>
				<td th:text="${dto.loc}"></td>
			</tr>
			
			
		</table>
		
		<a th:href="@{/emp/list2}">직원 목록으로 가기</a>
		<a th:href="@{/}">홈으로 가기</a>
	</div>
</body>
</html>