<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>/home.html</title>
</head>
<body>
	<div class="container">
		
		
		<div sec:authorize="isAuthenticated()">
			<strong sec:authentication="name"></strong> 님 로그인중
			<br>
			<a th:href="@{/user/info}">[[${#authentication.principal.username}]]</a> 님 로그인중
			<br>
			<a th:href="@{/user/logout}">Logout</a>
		</div>
		<div sec:authorize="!isAuthenticated()">
			로그인중이 아님
			<a th:href="@{/user/loginform}">Login</a>
			<a th:href="@{/user/singup-form}">Sign-up</a>
		</div>
	
	
	
		<h1>Index Page.</h1>
		
		<ul>
			<li><a th:href="@{/post/list}">글 목록 보기</a></li>
			<li><a th:href="@{/file/list}">자료실 목록 보기</a></li>
		</ul>
		
		<h3>Notice</h3>
		<ul>
			<li th:each="tmp:${noticeLsit}" th:text="${tmp}"></li>
		</ul>
		
	</div>
</body>
</html>