<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>mytest07-user/signup-form.html</title>
</head>
<body>
	<div class="container">
		<h1>Sign-up</h1>
		<form th:action="@{/user/signup-proc}" method="post" novalidate>
			<div>ID: <input type="text" name="id" /></div>
			<div>Password: <input type="password" name="pwd" /></div>
			<div>Password Check: <input type="password" name="pwdChk" /></div>
			<div>Email: <input type="text" name="email" /></div>
			
			<button>Sign-up</button>
		</form>
	</div>
</body>
</html>