<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>/templates/file/new.html</title>
</head>
<body>
	<div class="container">
		<h3>File Upload Test</h3>
		<form th:action="@{/file/upload}" method="post" enctype="multipart/form-data">
			파일 제목: <input type="text" name="title" />
			<br />
			<input type="file" name="myFile" />
			<br />
			<button>Upload</button>
		</form>
		
		<h3>Image Upload Test</h3>
		<form th:action="@{/file/upload-image}" method="post" enctype="multipart/form-data">
			이미지 제목: <input type="text" name="title" />
			<br />
			<input type="file" name="myFile" accept="image/*"/>
			<br />
			<button>Upload</button>
		</form>
	</div>
</body>
</html>