<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>templates/index.html</title>
</head>
<body>
	<h1>Index Page</h1>
	
	<h3>공지 사항</h3>
	<ul th:each="tmp:${noticeList}">
		<li th:text="${tmp}"></li>
	</ul>
	
	<h3>바로가기</h3>
	<ul>
		<li><a th:href="@{/member/list}">Member List</a></li>
		<li><a href="@{/buy/food}">Order Foods</a></li>
		<li>a</li>
	</ul>
	
	<h3>Get 방식 Parameter 로 전달</h3>
	<ul>
		<li><a th:href="@{'/buy?id=' + ${id} + '&name=' + ${name}}">buy 1</a></li>
		<li><a th:href="@{/buy(id=${id}, name=${name})}">buy 2</a></li>
	</ul>
	
	<h3>Post 방식 Parameter 로 전달</h3>
	
	<h3>TEST</h3>
	<ul>
		<li><a th:href="@{/if}">조건부 렌더링</a></li>
		<li><a th:href="@{/javascript}">JavaScript + Thymeleaf</a></li>
	</ul>
	
	<h3>Include</h3>
	<th:block th:insert="/test/include::myCode"></th:block>
	<small>th:block 요소의 th:insert 속성은 대체됨</small>
	<div th:insert="/test/include::myCode"></div>
	<small>div 요소의 th:insert 속성은 하위 요소로 추가됨</small>
	<div th:replace="/test/include::myCode"></div>
	<small>div 요소의 th:replace 속성은 대체됨</small>
	<!--/* <th:block th:insert="/test/include :: ourCode('제목', '내용')"></th:block> */-->
	<small style="color:red;">이건 왜 안됨?????</small>
</body>
</html>