<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>/member/list.html</title>
</head>
<body>
	<div class="container">
		<a th:href="@{/}">Home</a>
		<a th:href="@{/member/new}">Add Member</a>
	
		<h1>Member List.</h1>
		
		<table>
			<thead>
				<tr>
					<th>No</th>
					<th>Name</th>
					<th>Addr</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tmp:${list}">
					<td>[[${tmp.num}]]</td>
					<td>[[${tmp.name}]]</td>
					<td>[[${tmp.addr}]]</td>
					<td><a th:href="@{/member/edit(num=${tmp.num})}">edit</a></td>
					<td><a th:href="@{/member/delete(num=${tmp.num})}">delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>