<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		
		<!--/* 로그인 상태일 때 */-->
		<div sec:authorize="isAuthenticated()">
			<strong sec:authentication="name"></strong> 님 로그인중..
			<a th:href="@{/user/logout}">Logout</a>
		</div>
		
		<!--/* 로그아웃 상태일 때 */-->
		<div sec:authorize="!isAuthenticated()">
			<a th:href="@{/user/login-form}">Login</a>
			<a th:href="@{/user/signup-form]">Sing-up</a>
		</div>
	
		<h1>Index page.</h1>
		
		<ul>
			<li><a th:href="@{/post/list}">Posts</a></li>
		</ul>
		
	</div>
</body>
</html>
