<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>/templates/include/header.html</title>
</head>
<body>
	<div th:fragment="myHeader" style="height:200px; background-color:yellow;">
		<p>My Header 입니다</p>
	</div>
	
	
	<div th:fragment="yourHeader" style="height:200px; background-color:pink;">
		<p>Your Header 입니다</p>
	</div>
	
	<div th:fragment="ourHeader" style="height:200px; background-color:green;">
		<p>Our Header 입니다</p>
	</div>
	
	
</body>
</html>