<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<sql id="colName">
		num, id, pwd, email, profileImage, role, createdAt
	</sql>

	<select id="getDataById" parameterType="string" resultType="userDto">
		SELECT <include refid="colName"/>
		FROM users
		WHERE id=#{id}
	</select>
	
	<insert id="insertUser" parameterType="userDto">
		INSERT INTO USERS
		(num, id, pwd, email)
		VALUES(USERS_SEQ.NEXTVAL, #{id}, #{pwd}, #{email})
	</insert>

</mapper>